# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.db
*.db-shm
*.db-wal

# Storage output
storage/

# Node
node_modules/
dist/
.angular/

# IDE
.vs/
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Environment
appsettings.*.local.json
